:root {
    --primary-color: #8333d7;
    --secondary-color: #2575fc;
    --text-color: #333;
    --bg-color: #f4f7f6;
    --card-bg: rgba(255, 255, 255, 0.8);
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(140deg,
            var(--primary-color),
            var(--secondary-color));
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    color: var(--text-color);
}

.Cform {
    display: grid;
    justify-content: center;
    height: 300px;
    width: 300px;
    margin-top: 10%;
    border-radius: 20px;
    border: 1px solid black;
}

form {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 15px;
}

form input {
    height: 45px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    font-size: 17px;
    border-color: #dadada;
    padding-left: 10px;
}

h2 {
    text-align: center;
    text-decoration: underline;
}

select {
    height: 30px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid black;
}

button {
    height: 45px;
    color: white;
    background-color: #6021df;
    font-weight: bold;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    padding: 0;
}

#signup {
    border-radius: 20px;
    border: 1px solid black;
}

#loader {
    height: 30px;
    width: 170px;
    display: flex;
    align-items: center;
    border-radius: 5%;
    border-color: cyan;
    border-style: solid;
}

@keyframes dot {
    0% {
        width: 10%;
    }

    20% {
        width: 20%;
    }

    40% {
        width: 40%;
    }

    60% {
        width: 60%;
    }

    80% {
        width: 80%;
    }

    100% {
        width: 100%;
    }
}

#loading {
    position: relative;
    height: 25px;
    width: 100%;
    background-color: cyan;
    animation: dot 1s;
}